.Footer {
    width: 100%;
    height: 100px;
    background-color: #343A40;
    color: white;
    padding:5px;
}

@media (min-width: 700px){
    .Footer {
        width: 100%;
        height: 40px;
        background-color: #343A40;
        color: white;
        padding:5px;
    }
}